body {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    margin: 2em 0;
    padding: 1em 0;
    text-align: center;
    float: center;
    display: flow-root;
    position: static;
    color: white;
}




.section {
    margin: 2em 0;
    padding: 1em 0;
    height: 50em;
    background-image: url(/assets/imgs/bg-header.jpg);
    background-size: cover;
    background-color: #1E1A13;
    display: flow-root;
}


main {
    text-align: justify;
    margin: 4em 0;
    border: solid 1px black;
    padding: 1em;
    color: white;
    background-color: black;
    display: flow-root;
    size: 3px;
}


main p {
    width: 30%;
    padding: 1%;
    float: left;
    margin: 2em 0;
    vertical-align: middle;
    border: solid 1px black;
    display: inline-flex;


}

main img {
    float: right;
    padding: 1em;
    width: 30%;
    border: solid 1px transparent;
    margin: 2em 0;
}

.features {
    text-align: center;
    margin: 4em 0;
    padding: 1em;
    color: white;
    background-color: #1E1A13;
    display: flow-root;
}

.features i {
    display: block;
    padding: 0.5em;
}

.feature {
    width: 30%;
    padding: 1%;
    float: left;
}

.features h2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.conteiner {
    width: 100m;
    padding: 1em;
    margin: 4em 0;
    display: flow-root;
}

.conteiner img {
    width: 100%;
    padding: 1em;
    margin: 4em 0;
    object-fit: cover;
}

.im1 {
    width: 30%;
    display: inline-block;
    padding: 1em;
    margin: 4em 0;
}

.im2 {
    width: 30%;
    display: inline-block;
    padding: 1em;
    margin: 4em 0;
}

.im3 {
    width: 30%;
    display: inline-block;
    padding: 1em;
    margin: 4em 0;
}

.footer {
    padding: 4em;
    margin: 4em 0;
    background-color: #1E1A13;
    color: white;
    text-align: center;
    float: center;
    display: flow-root;
}